
#btns{
   width: 75%;
}

#btn1{
    position: relative;
    width: 30%;
    height: 48px;
    font-size: 24px;
}
#btn2{
    position: relative;
    width: 30%;
    height: 48px;
    font-size: 24px;
}
#btn3{
    position: relative;
    width: 30%;
    height: 48px;
    font-size: 24px;
}
#btn4{
    position: relative;
    width: 30%;
    height: 48px;
    font-size: 24px;
}
#btn5{
    position: relative;
    width: 30%;
    height: 48px;
    font-size: 24px;
}
#btn6{
    position: relative;
    width: 30%;
    height: 48px;
    font-size: 24px;
}
#btn7{
    position: relative;
    width: 30%;
    height: 48px;
    font-size: 24px;
}
#btn8{
    position: relative;
    width: 30%;
    height: 48px;
    font-size: 24px;
}
#btn9{
    position: relative;
    width: 30%;
    height: 48px;
    font-size: 24px;
}
